.letter-list a {
    text-decoration: underline;
    color: rgb(10, 124, 238);
    margin-right: 10px;
    cursor: pointer;
    }
    
    .highlight {
    color: rgb(204, 218, 237);
    font-style: italic;
    font-weight: bold;
    }

    #highlightButton {
        border: solid .2rem rgb(152, 11, 11);
        border-radius: .5rem;
        background-color: rgb(54, 25, 47);
        color: rgb(71, 242, 14);
        font-family: "Miltonian Tattoo", serif;
        font-style: italic;
        font-weight: bold;
    }
    
    body {
    /* font-family: "Miltonian Tattoo", serif; */
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(54, 25, 47);
    }

    h2 {
    color: rgb(71, 175, 175);
    }
    
    #letterFrequencyOutput,
    #letterSearchResults  {
    color: rgb(77, 95, 71);
    }
    
    .posInput,
    #positionInput {
        color: rgb(71, 242, 14);
        background-color: rgb(54, 25, 47);
        border: solid .2rem rgb(152, 11, 11);
        border-radius: .5rem;
        font-family: "Miltonian Tattoo", serif;
        font-style: italic;
        font-weight: bold;
    }

    #linkBack {
        text-decoration: none;
        color: rgb(71, 175, 175);
    }